<!-- <mat-card id="card" style="text-align: center;">
    <mat-card-title>
        {{title}}
    </mat-card-title>

    <mat-card-content>

        <mat-form-field>
            <label>Campaign Name: </label>
            <input [(ngModel)]="campaign.CAMPAIGN_NAME" />
        </mat-form-field><br />

        <button mat-raised-button color="primary" style="margin-right:5px;" (click)="addCampaign()">Add
            Campaign</button>

    </mat-card-content>
</mat-card> -->

<div class="card">
    <!-- <h5 class="card-header">{{title}}</h5> -->
    <div class="card-body">
        <h3 class="card-title">{{title}}</h3>
        <form (ngSubmit)="addCampaign()" #createForm="ngForm">
            <div class="form-group">
                <label for="name">Campaign Name:</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="campaign.CAMPAIGN_NAME" name="name">
                <!-- <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel"> -->
            </div><br>
            <div class="form-group">
                <label for="Descriptions">Campaign Description</label>
                <input type="text" class="form-control" id="Descriptions" required [(ngModel)]="campaign.DESCRIPTIONS" name="Descriptions">
            </div><br>
            <div class="form-group">
                <label for="Tags">Tags</label>
                <input type="text" class="form-control" id="Tags" required [(ngModel)]="campaign.TAGS" name="Tags">
            </div><br>
            <div class="form-group">
                <label for="campaign.CATEGORY">Category</label>
                <input type="text" class="form-control" id="campaign.CATEGORY">
            </div><br>
            <div class="form-group">
                <label for="campaign.VENUE">Venue</label>
                <input type="text" class="form-control" id="campaign.VENUE">
            </div><br>
            <div class="form-group">
                <label for="campaign.COMPANIES_ID">Company ID</label>
                <input type="text" class="form-control" id="campaign.COMPANIES_ID">
            </div><br>
            <div class="form-group">
                <label for="campaign.START_DATE">Start Date</label>
                <input type="text" class="form-control" id="campaign.START_DATE" placeholder="DD/MM/YYYY">
            </div><br>
            <div class="form-group">
                <label for="campaign.END_DATE">End Date</label>
                <input type="text" class="form-control" id="campaign.END_DATE" placeholder="DD/MM/YYYY">
            </div><br>

            <button type="submit" class="btn btn-primary" [disabled]="!createForm.form.valid" onClick="window.location.href='/campaign'">Submit</button>
            &nbsp;
            <button type="button" class="btn btn-outline-danger" onClick="window.location.href='/campaign'">Cancel</button>
            &nbsp;
            <a href="/campaign">Cancel</a>
        </form>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/campaign" class="btn btn-primary" (click)="addCampaign()" >Submit</a> -->
        <!-- <button href="/campaign" type="submit" class="btn btn-primary" [disabled]="!createForm.form.valid">Submit</button> -->
    </div>
</div>
