<div style="padding: 13px;">
    <div *ngIf="products.length === 0"></div>

    <div *ngFor="let product of products" style="margin-top:12px;">
        <div>
            <div>{{product.INFLUENCERS_ID}}</div>
            <div>{{product.FULL_NAME}} / {{product.NATIONALITY}}
            </div>
        </div>
        <div>
            <p>
                {{product.CATEGORY}}
            </p>
            <img style="height:100%; width: 100%;" src="{{ product.imageUrl }}" />
        </div>
        <div>
    </div>
    </div>
</div>