<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body" *ngIf="campaign">
                        <div class="row h-100">
                            <div class="col-sm-3 my-auto">
                                <h5 class="mb-0">Campaign ID</h5>
                            </div>
                            <div class="col-sm-9 text-secondary my-auto">
                                {{campaign.CAMPAIGNS_ID}}
                            </div>
                        </div>
                        <hr>
                        <div class="row h-100">
                            <div class="col-sm-3 my-auto">
                                <h5 class="mb-0">Campaign Name</h5>
                            </div>
                            <div class="col-sm-9 text-secondary my-auto">
                                {{campaign.CAMPAIGN_NAME}}
                            </div>
                        </div>
                        <hr>
                        <div class="row h-100">
                            <div class="col-sm-3 my-auto">
                                <h5 class="mb-0">Descriptions</h5>
                            </div>
                            <div class="col-sm-9 text-secondary my-auto">
                                {{campaign.DESCRIPTIONS}}
                            </div>
                        </div>
                        <hr>
                        <div class="row h-100">
                            <div class="col-sm-3 my-auto">
                                <h5 class="mb-0">Category</h5>
                            </div>
                            <div class="col-sm-9 text-secondary my-auto">
                                {{campaign.CATEGORY}}
                            </div>
                        </div>
                        <hr>
                        <div class="row h-100">
                            <div class="col-sm-3 my-auto">
                                <h5 class="mb-0">Tags</h5>
                            </div>
                            <div class="col-sm-9 text-secondary my-auto">
                                <div class="widget-26-job-category bg-soft-warning" *ngFor="let tag of campaign.TAGS">
                                    <i class="indicator bg-warning"></i>
                                    <span>{{tag}}</span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row h-100">
                            <div class="col-sm-3 my-auto">
                                <h5 class="mb-0">Venue</h5>
                            </div>
                            <div class="col-sm-9 text-secondary my-auto">
                                {{campaign.VENUE}}
                            </div>
                        </div>
                        <hr>
                        <div class="row h-100">
                            <div class="col-sm-3 my-auto">
                                <h5 class="mb-0">Start Date</h5>
                            </div>
                            <div class="col-sm-9 text-secondary my-auto">
                                {{campaign.START_DATE}}
                            </div>
                        </div>
                        <hr>
                        <div class="row h-100">
                            <div class="col-sm-3 my-auto">
                                <h5 class="mb-0">End Date</h5>
                            </div>
                            <div class="col-sm-9 text-secondary my-auto">
                                {{campaign.END_DATE}}
                            </div>
                        </div>
                        <hr>
                        <div class="row h-100 mt-3">
                            <div class="col-sm-12 text-secondary my-auto">
                                <div class="form-group">
                                    <a class="btn btn-secondary" style="float: left;"
                                        [routerLink]="['/discover']">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>