<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <form (ngSubmit)="updateCampaign()" #createForm="ngForm">
                            <div class="row h-100">
                                <div class="col-sm-3 my-auto">
                                    <h6 class="mb-0">Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary my-auto">
                                    <div class="form-group">
                                        <!-- <input type="text" class="form-control" id="name"> -->
                                        <input type="text" class="form-control" id="name" required
                                    [(ngModel)]="campaign.CAMPAIGN_NAME" name="name">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row h-100">
                                <div class="col-sm-3 my-auto">
                                    <h6 class="mb-0">Description</h6>
                                </div>
                                <div class="col-sm-9 text-secondary my-auto">
                                    <div class="form-group">
                                        <!-- <input type="text" class="form-control" id="name"> -->
                                        <input type="text" class="form-control" id="description" required
                                    [(ngModel)]="campaign.DESCRIPTIONS" name="description">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row h-100">
                                <div class="col-sm-3 my-auto">
                                    <h6 class="mb-0">Tags</h6>
                                </div>
                                <div class="col-sm-9 text-secondary my-auto">
                                    <div class="form-group">
                                        <!-- <input type="text" class="form-control" id="name"> -->
                                        <input type="text" class="form-control" id="tags" required
                                    [(ngModel)]="campaign.TAGS" name="tags">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row h-100">
                                <div class="col-sm-3 my-auto">
                                    <h6 class="mb-0">Category</h6>
                                </div>
                                <div class="col-sm-9 text-secondary my-auto">
                                    <div class="form-group">
                                        <!-- <input type="text" class="form-control" id="name"> -->
                                        <input type="text" class="form-control" id="Category" required
                                    [(ngModel)]="campaign.CATEGORY" name="Category">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row h-100">
                                <div class="col-sm-3 my-auto">
                                    <h6 class="mb-0">Venue</h6>
                                </div>
                                <div class="col-sm-9 text-secondary my-auto">
                                    <div class="form-group">
                                        <!-- <input type="text" class="form-control" id="name"> -->
                                        <input type="text" class="form-control" id="Venue" required
                                    [(ngModel)]="campaign.VENUE" name="Venue">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row h-100">
                                <div class="col-sm-3 my-auto">
                                    <h6 class="mb-0">CompanyID</h6>
                                </div>
                                <div class="col-sm-9 text-secondary my-auto">
                                    <div class="form-group">
                                        <!-- <input type="text" class="form-control" id="name"> -->
                                        <input type="text" class="form-control" id="CompanyID" required
                                    [(ngModel)]="campaign.COMPANIES_ID" name="CompanyID">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row h-100">
                                <div class="col-sm-3 my-auto">
                                    <h6 class="mb-0">Start Date</h6>
                                </div>
                                <div class="col-sm-9 text-secondary my-auto">
                                    <div class="form-group">
                                        <input type="date" class="form-control" id="startDate" required
                                    [(ngModel)]="campaign.START_DATE" name="startDate">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row h-100">
                                <div class="col-sm-3 my-auto">
                                    <h6 class="mb-0">End Date</h6>
                                </div>
                                <div class="col-sm-9 text-secondary my-auto">
                                    <div class="form-group">
                                        <input type="date" class="form-control" id="endDate" required
                                    [(ngModel)]="campaign.END_DATE" name="endDate">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- <button type="button" class="btn btn-success float-end">Save</button> -->
                                    <button type="save" class="btn btn-primary float-end"
                                        [disabled]="!createForm.form.valid">Save</button>
                                    &nbsp;
                                    <button type="button" class="btn btn-outline-danger"
                                        onClick="window.location.href='/campaign'">Cancel</button>
                                    &nbsp;
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>