<div class="container">
  <div class="main-body">
        <div class="row gutters-sm">
          <div class="col-md-12">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row h-100">
                  <div class="col-sm-3 my-auto">
                    <h6 class="mb-0">Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary my-auto">
                    Gigabyte RTX 3060 Ti Asia Launch
                  </div>
                </div>
                <hr>
                <div class="row h-100">
                  <div class="col-sm-3 my-auto">
                    <h6 class="mb-0">Category</h6>
                  </div>
                  <div class="col-sm-9 text-secondary my-auto">
                    Computers
                  </div>
                </div>
                <hr>
                <div class="row h-100">
                  <div class="col-sm-3 my-auto">  
                    <h6 class="mb-0">Tags</h6>
                  </div>
                  <div class="col-sm-9 text-secondary my-auto">
                    <div class="widget-26-job-category bg-soft-warning">
                      <i class="indicator bg-warning"></i>
                      <span>Desktop</span>
                    </div>
                    <div class="widget-26-job-category bg-soft-success">
                        <i class="indicator bg-success"></i>
                        <span>Keyboard</span>
                    </div>
                    <div class="widget-26-job-category bg-soft-info">
                        <i class="indicator bg-info"></i>
                        <span>Audio</span>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row h-100">
                  <div class="col-sm-3 my-auto">
                    <h6 class="mb-0">Location</h6>
                  </div>
                  <div class="col-sm-9 text-secondary my-auto">
                    Singapore
                  </div>
                </div>
                <hr>
                <div class="row h-100">
                  <div class="col-sm-3 my-auto">
                    <h6 class="mb-0">Start Date</h6>
                  </div>
                  <div class="col-sm-9 text-secondary my-auto">
                    31/12/2000
                  </div>
                </div>
                <hr>
                <div class="row h-100">
                  <div class="col-sm-3 my-auto">
                    <h6 class="mb-0">End Date</h6>
                  </div>
                  <div class="col-sm-9 text-secondary my-auto">
                    31/12/2000
                  </div>
                </div>
                <div class="row d-none">
                  <div class="col-sm-12">
                    <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
  </div>

<script type="text/javascript">

</script>