&nbsp;
<div *ngIf="user.USER_TYPE==='Company'">
  <button class="btn btn-primary float-end" (click)="navigateToCreate()" style="margin-right: 1.5rem;">Create Campaign</button>
</div>
&nbsp;

<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-12" *ngIf="projects.length != 0">
        <div class="card mb-3" *ngFor="let p of projects| keyvalue">
          <div class="card-body" *ngIf="(p.value.STATUS == true)&&(user.USER_TYPE ==='Influencer')">
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Campaign ID</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                {{p.value.CAMPAIGNS_ID}}
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Campaign Name</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                {{p.value.CAMPAIGN_NAME}}
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Descriptions</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                {{p.value.DESCRIPTIONS}}
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Category</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                {{p.value.CATEGORY}}
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Tags</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                <div class="widget-26-job-category bg-soft-warning" *ngFor="let tag of p.value.TAGS">
                  <i class="indicator bg-warning"></i>
                  <span>{{tag}}</span>
                </div>
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Venue</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                {{p.value.VENUE}}
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Start Date</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                {{p.value.START_DATE}}
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">End Date</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                {{p.value.END_DATE}}
              </div>
            </div>
            <hr>
            &nbsp;
          </div>
          <div class="card-body" *ngIf="(p.value.STATUS == true)&&(user.USER_TYPE ==='Company')&&(user.COMPANY_NAME === p.value.COMPANIES_ID)">
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Campaign ID</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                {{p.value.CAMPAIGNS_ID}}
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Campaign Name</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                {{p.value.CAMPAIGN_NAME}}
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Descriptions</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                {{p.value.DESCRIPTIONS}}
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Category</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                {{p.value.CATEGORY}}
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Tags</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                <div class="widget-26-job-category bg-soft-warning" *ngFor="let tag of p.value.TAGS">
                  <i class="indicator bg-warning"></i>
                  <span>{{tag}}</span>
                </div>
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Venue</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                {{p.value.VENUE}}
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">Start Date</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                {{p.value.START_DATE}}
              </div>
            </div>
            <hr>
            <div class="row h-100">
              <div class="col-sm-3 my-auto">
                <h5 class="mb-0">End Date</h5>
              </div>
              <div class="col-sm-9 text-secondary my-auto">
                {{p.value.END_DATE}}
              </div>
            </div>
            <hr>
            &nbsp;
            <nav *ngIf="user.USER_TYPE==='Company'">
              <button class="btn btn-primary float-end" (click)="navigateToEdit(p.value.CAMPAIGNS_ID)">Edit
                Campaign</button>&nbsp;
            </nav><br>
          </div>



        </div>
      </div>
    </div>

  </div>
</div>