<div class="container">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-12">
              <div *ngIf="!user">Loading</div>
              <div class="card mb-3" *ngIf="user">
                <div class="card-body" *ngIf="user.USER_TYPE==='Company'">
                  <div class="row h-100">
                    <div class="col-sm-3 my-auto">
                      <h6 class="mb-0">Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary my-auto">
                      <span>{{user.FULL_NAME}}
                          <i placement="right" ngbTooltip="Verified" i-bs name="patch-check"></i>
                      </span>
                    </div>
                  </div>
                  <hr>
                  <div class="row h-100">
                    <div class="col-sm-3 my-auto">  
                      <h6 class="mb-0">Nationality</h6>
                    </div>
                    <div class="col-sm-9 text-secondary my-auto">
                      {{user.NATIONALITY}}
                    </div>
                  </div>
                  <hr>
                  <div class="row h-100">
                    <div class="col-sm-3 my-auto">
                      <h6 class="mb-0">Category</h6>
                    </div>
                    <div class="col-sm-9 text-secondary my-auto">
                      {{user.CATEGORY}}
                    </div>
                  </div>
                  <hr>
                  <div class="row h-100">
                    <div class="col-sm-3 my-auto">
                      <h6 class="mb-0">Tags</h6>
                    </div>
                    <div class="col-sm-9 text-secondary my-auto">
                      <div class="widget-26-job-category bg-soft-warning" *ngFor="let tag of user.TAGS">
                        <i class="indicator bg-warning"></i>
                        <span>{{tag}}</span>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row h-100">
                    <div class="col-sm-3 my-auto">
                      <h6 class="mb-0">Gender</h6>
                    </div>
                    <div class="col-sm-9 text-secondary my-auto">
                      {{user.GENDER}}
                    </div>
                  </div>
                  <hr>
                  <div class="row h-100">
                    <div class="col-sm-3 my-auto">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary my-auto">
                      {{user.EMAIL}}
                    </div>
                  </div>
                  <hr>
                  <div class="row h-100">
                    <div class="col-sm-3 my-auto">
                      <h6 class="mb-0">Birth Date</h6>
                    </div>
                    <div class="col-sm-9 text-secondary my-auto">
                      {{user.BIRTHDATE}}
                    </div>
                  </div>
                  <hr>
                  <div class="row h-100">
                    <div class="col-sm-3 my-auto">
                      <h6 class="mb-0">Laguange</h6>
                    </div>
                    <div class="col-sm-9 text-secondary my-auto">
                      <div class="widget-26-job-category bg-soft-warning" *ngFor="let language of user.LANGUAGE">
                        <i class="indicator bg-warning"></i>
                        <span>{{language}}</span>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row h-100">
                    <div class="col-sm-3 my-auto">
                      <h6 class="mb-0">Social Media</h6>
                    </div>
                    <div class="col-sm-9 text-secondary my-auto">
                      <div class="widget-26-job-category bg-soft-warning" *ngFor="let socialMedia of user.SOCIAL_MEDIA">
                        <i class="indicator bg-warning"></i>
                        <span>{{socialMedia}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="row d-none">
                    <div class="col-sm-12">
                      <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                    </div>
                  </div>
                </div>
                <div class="card-body" *ngIf="user.USER_TYPE==='Influencer'">
                  <div class="row h-100">
                    <div class="col-sm-3 my-auto">
                      <h6 class="mb-0">Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary my-auto">
                      <span>{{user.FULL_NAME}}
                          <i placement="right" ngbTooltip="Verified" i-bs name="patch-check"></i>
                      </span>
                    </div>
                  </div>
                  <hr>
                  <div class="row h-100">
                    <div class="col-sm-3 my-auto">  
                      <h6 class="mb-0">Nationality</h6>
                    </div>
                    <div class="col-sm-9 text-secondary my-auto">
                      {{user.NATIONALITY}}
                    </div>
                  </div>
                  <hr>
                  <div class="row h-100">
                    <div class="col-sm-3 my-auto">
                      <h6 class="mb-0">Category</h6>
                    </div>
                    <div class="col-sm-9 text-secondary my-auto">
                      {{user.CATEGORY}}
                    </div>
                  </div>
                  <hr>
                  <div class="row h-100">
                    <div class="col-sm-3 my-auto">
                      <h6 class="mb-0">Tags</h6>
                    </div>
                    <div class="col-sm-9 text-secondary my-auto">
                      <div class="widget-26-job-category bg-soft-warning" *ngFor="let tag of user.TAGS">
                        <i class="indicator bg-warning"></i>
                        <span>{{tag}}</span>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row h-100">
                    <div class="col-sm-3 my-auto">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary my-auto">
                      {{user.EMAIL}}
                    </div>
                  </div>
                  <hr>
                  <div class="row h-100">
                    <div class="col-sm-3 my-auto">
                      <h6 class="mb-0">Birth Date</h6>
                    </div>
                    <div class="col-sm-9 text-secondary my-auto">
                      {{user.BIRTHDATE}}
                    </div>
                  </div>
                  <hr>
                  <div class="row h-100">
                    <div class="col-sm-3 my-auto">
                      <h6 class="mb-0">Laguange</h6>
                    </div>
                    <div class="col-sm-9 text-secondary my-auto">
                      <div class="widget-26-job-category bg-soft-warning" *ngFor="let language of user.LANGUAGE">
                        <i class="indicator bg-warning"></i>
                        <span>{{language}}</span>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row h-100">
                    <div class="col-sm-3 my-auto">
                      <h6 class="mb-0">Social Media</h6>
                    </div>
                    <div class="col-sm-9 text-secondary my-auto">
                      {{user.SOCIAL_MEDIA}}
                    </div>
                  </div>
                  <hr>
                  <div class="row h-100">
                    <div class="col-sm-3 my-auto">
                      <h6 class="mb-0">Block Number</h6>
                    </div>
                    <div class="col-sm-9 text-secondary my-auto">
                      {{user.BLOCK_NUMBER}}
                    </div>
                  </div>
                  <hr>
                  <div class="row h-100">
                    <div class="col-sm-3 my-auto">
                      <h6 class="mb-0">Street Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary my-auto">
                      {{user.STREET_NAME}}
                    </div>
                  </div>
                  <hr>
                  <div class="row h-100">
                    <div class="col-sm-3 my-auto">
                      <h6 class="mb-0">Unit Number</h6>
                    </div>
                    <div class="col-sm-9 text-secondary my-auto">
                      {{user.UNIT_NUMBER}}
                    </div>
                  </div>
                  <hr>
                  <div class="row h-100">
                    <div class="col-sm-3 my-auto">
                      <h6 class="mb-0">Postal Code</h6>
                    </div>
                    <div class="col-sm-9 text-secondary my-auto">
                      {{user.POSTAL_CODE}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-success" style="float: right;" [routerLink]="['/profile-edit']" >Edit</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>